<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Users</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shards.min.css">
    </head>
    <body>
<div th:switch="tests" style="padding-left: 1%;">
    <h2 th:case="null">No hay tests!!</h2>
        <div th:case="*">
            <h2>TEST</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>ENUNCIADO</th>
                        <th>PREGUNTA</th>
                        <th>TEMA</th>
                        <th>RESPUESTA A</th>
                        <th>RESPUESTA B</th>
                        <th>RESPUESTA C</th>
                        <th>RESPUESTA D</th>
                        <th>CORRECTA EN LETRA</th>
                        <th>EXPLICACION</th>
                        <th>Activa (1) / Inactiva (0)</th>
                        <th>Editar</th>
                        <th>Borrar</th>
                    </tr>
                </thead>
                <tbody>
                <tr th:each="test : ${tests}">
                    <td th:text="${test.enunciado}"></td>
                    <td th:text="${test.pregunta}"></td>
                    <td th:text="${test.tema}"></td>
                    <td th:text="${test.respuestaA}"></td>
                    <td th:text="${test.respuestaB}"></td>
                    <td th:text="${test.respuestaC}"></td>
                    <td th:text="${test.respuestaD}"></td>
                    <td th:text="${test.respuestaCorrecta}"></td>
                    <td th:text="${test.explicacion}"></td>
                    <td th:text="${test.activa}"></td>
                    <td><a th:href="@{/edit/{id}(id=${test.id})}">Editar</a></td>
                    <td><a th:href="@{/delete/{id}(id=${test.id})}">Borrar</a></td>
                </tr>
            </tbody>
        </table>
    </div>      
    <p><a href="/signup">Crear nuevo test</a></p>
</div>
    </body>
</html>